
body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}



/* Full screen sections */
#sections {
  /* position: relative; */
  display: inline-block;
  width: 100%;
}

.opening {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 250px;
  padding-bottom: 200px;
  text-align: center;
}

.step {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

#sections .title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}



/* Section links */
html {
  scroll-behavior: smooth;
}

a:link {
  font-family: "Courier";
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}




/* ANIMATIONS */
/* for type writer effect */
/* following https://stackoverflow.com/questions/61614210/css-typewriter-effect-with-text-always-in-the-center */

#typewriter{
  font-family: "Courier";
  font-size: 18px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid green;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin-left: 0;
  margin-right: 100px;
  /* Gives that scrolling effect as the typing happens */
  padding-left: 150px;
}


.animate{
  animation: typing 5s steps(40, end),
             blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The blinking cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green; }
}



/* for the reveal effect */
/* following https://blog.hubspot.com/website/css-fade-in */
#fade-in-text {
  display: inline-block;
  font-family: "Courier";
  font-size: 18px;
  color: #fff;
}

.reveal_animate{
  animation: fadeIn linear 6s;
    -webkit-animation: fadeIn linear 6s;
    -moz-animation: fadeIn linear 6s;
    -o-animation: fadeIn linear 6s;
    -ms-animation: fadeIn linear 6s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  /* for delay */
  95% { opacity:0; } 
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; } 
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; } 
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; } 
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; } 
  100% {opacity:1;}
}







