
body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

em {
  font-weight: bold;
  font-style: normal;
}

p {
  margin: 8px;
  display: flex;
  padding: 5px;
}


/* Full screen sections */

#sections {
  /* position: relative; */
  display: inline-block;
  width: 100%;
}

.opening {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 175px;
  padding-bottom: 250px;
  text-align: center;
}

.next {
  font-size: 30px
}

.step {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.maintitle {
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}

.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}

.disclaimer {
  font-weight: lighter;
  word-spacing: 1.5px;
  font-size: 14px;
  text-align: center;
  margin: 150px !important;
  color: white;
  justify-content: center;
}

.choice_title {
  font-family: "Courier";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}

.center {
  height:120px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  display: "block";
  height: 7%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* margin-left: auto;
  margin-right: auto; */
}




/* Section links */
html {
  scroll-behavior: smooth;
}

a:link {
  font-family: "Courier";
  font-size: 18px;
  color: white;
  font-weight: bold;
}


a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}


/* TEXT ANIMATIONS */
/* for type writer effect */
/* following https://stackoverflow.com/questions/61614210/css-typewriter-effect-with-text-always-in-the-center */
.output {
  font-family: "Courier";
  font-size: 23px;
  line-height: 23px;
  height: 100%;
  text-align: left;
  color: white;
  font-weight: bold;
}
.output h1 {
  font-size: 23px;
  font-weight: bold;
  margin-left:15px;
}

/* Cursor Styling */
.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 24px;
  width: 6px;
}

p.cursor::after {
  height: 24px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* for the reveal effect */
/* following https://blog.hubspot.com/website/css-fade-in */
#fade-in-text {
  display: inline-block;
  font-family: "Courier";
  font-size: 18px;
  color: #fff;
}


@keyframes fadeIn {
  0% {opacity:0;}
  /* for delay */
  95% { opacity:0; }
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}


.reveal_animate{
  animation: fadeIn linear 10s;
    -webkit-animation: fadeIn linear 10s;
    -moz-animation: fadeIn linear 10s;
    -o-animation: fadeIn linear 10s;
    -ms-animation: fadeIn linear 10s;
}





/* BUTTON FORMATTING */

#button-wrap {
  color: black;
  font-weight: bold;
  padding-left: 45px;
}

.button.active {
  display: block;
  background-color: #D2E8E5;
  color: black;
  cursor: pointer;
}

button:hover{
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  background-color: #9dc9c3;
  color: black;
  cursor: pointer;
}

button.selected{
  background-color: rgba(0,0,0,0.18);
  color: red;
  cursor: pointer;

}




