
body {
  background-color: black;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  height: 100%;
}

em {
  font-weight: bold;
  font-style: normal;
  color: magenta;
}

ul {
  text-decoration: underline;
  font-style: normal;
}

p {
  margin: 8px;
  display: flex;
  padding: 5px;
  color: white;

}



/* Full screen sections */

#sections {
  /* position: relative; */
  display: inline-block;
  width: 100%;
}

.opening {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 175px;
  padding-bottom: 250px;
  text-align: center;
}

.next {
  font-size: 30px
}

.step {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
}

#final_dashboard {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 20px;
  padding-bottom: 200px;
  text-align: center;
}

#results_screen {
  margin-bottom: 200px;
  font-family: "Courier";
  font-size: 16px;
  line-height: 23px;
  height: 100%;
  color: white;
  padding-top: 20px;
  padding-bottom: 200px;
  text-align: center;
}


.maintitle {
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}

.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}

.disclaimer {
  font-weight: lighter;
  word-spacing: 1.5px;
  font-size: 14px;
  text-align: center;
  margin: 120px !important;
  color: white;
  justify-content: center;
}

.choice_title {
  font-family: "Courier";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
  line-height: 1.2em;
  text-align: center;
}

.center {
  height:120px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  display: "block";
  height: 7%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* margin-left: auto;
  margin-right: auto; */
}


.title_dashboard{
  font-family: "Courier";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
  line-height: 1.2em;
  text-align: left;
}

.action_dashboard{
  font-family: "Courier";
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 2px;
  color: #39ff14;
  line-height: 1.2em;
  text-align: left;
}

.choice_txt{
  font-family: "Courier";
  margin-bottom: 5px;
  color: white;
  line-height: 1.2em;
  text-align: center;
  font-size: 18px;

}
/* Choice buttons */
input[type=radio] {
  display: block;
}

label {
  display: inline-block;
  margin-top: 100px;
  color:#39ff14;
  border:1px solid green;
  padding:2px 10px;
}

.form-check-label{
  display: inline-block;
  justify-content: center;
  font-size: 10px;
  text-align: left;
  margin-top: 8px;
  background:#444;
  color:#39ff14;
  border:1px solid green;
  padding: 3px 6px;
}



/* Mission Results Tooltip */
#tooltip2{
  font-size: 10px;
  text-align: left;
  font-weight: bold;
  background:#444 !important;
  justify-content: right;
  left: 15% !important;
  top: 135px !important;
  height: 390px !important;
  width: 160px !important;
  padding: 5px !important;
  border:1px solid green;
}

#tooltip_title2{
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  background:#444 !important;
  justify-content: right;
  left: 15% !important;
  top: 135px !important;
  height: 390px !important;
  width: 160px !important;
  padding: 5px !important;
  border:1px solid green;
}

#tooltip_text2{
  font-size: 10px;
  font-weight: bold;

}

/* Final Dashboard Tooltip */

#tooltip{
  font-size: 10px;
  text-align: left;
  font-weight: bold;
  background:#444 !important;
  justify-content: right;
  left: 5% !important;
  top: 85px !important;
  height: 390px !important;
  width: 160px !important;
  padding: 5px !important;
  border:1px solid green;
}

#tooltip_title{
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  background:#444 !important;
  justify-content: right;
  left: 5% !important;
  top: 85px !important;
  height: 390px !important;
  width: 160px !important;
  padding: 2px !important;
  border:1px solid green;
}
#tooltip_text{
  font-size: 10px;
  font-weight: bold;

}

/* Chart Labels */

.y_label{
  font-weight: bold;
}

.x_label{
  font-weight: bold;
}

.chartTitle{
  font-weight: bold;
}

/* Section links */
/* Note this formatting causes problems for the buttons. Fix later */

html {
  scroll-behavior: smooth;
}

a:link {
  font-family: "Courier";
  font-size: 18px;
  color: #39ff14;
  font-weight: bold;
  background-color: black;

  }


a:visited {
  color: #39ff14;
  background-color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}


/* SIDEBAR */
/* The sidebar menu */
.sidebar {
  font-family: "Courier";
  font-size: 25px;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  font-family: "Courier";
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  font-family: "Courier";
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-family: "Courier";
  font-weight: "bold";
  font-size: 25px;
  cursor: pointer;
  background-color: black;
  color: #39ff14;
  padding: 10px 15px;
  margin-bottom: 100px;
  border: none;
  position:fixed; left:0;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
  transition: margin-left .5s; /* If you want a transition effect */
  /* padding: 20px;
} */ */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}







/* TEXT ANIMATIONS */
/* for type writer effect */
/* following https://stackoverflow.com/questions/61614210/css-typewriter-effect-with-text-always-in-the-center */
.output {
  font-family: "Courier";
  font-size: 23px;
  line-height: 23px;
  height: 100%;
  text-align: left;
  color: white;
  font-weight: bold;
}
.output h1 {
  font-size: 23px;
  font-weight: bold;
  margin-left:15px;
}

/* Cursor Styling */
.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 24px;
  width: 6px;
}

p.cursor::after {
  height: 24px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* for the reveal effect */
/* following https://blog.hubspot.com/website/css-fade-in */
#fade-in-text {
  display: inline-block;
  font-family: "Courier";
  font-size: 18px;
  color: #fff;
}


@keyframes fadeIn {
  0% {opacity:0;}
  /* for delay */
  95% { opacity:0; }
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}


.reveal_animate{
  animation: fadeIn linear 13s;
    -webkit-animation: fadeIn linear 13s;
    -moz-animation: fadeIn linear 13s;
    -o-animation: fadeIn linear 13s;
    -ms-animation: fadeIn linear 13s;
}




#fade-in-text2 {
  display: inline-block;
  font-family: "Courier";
  font-size: 18px;
  color: #fff;
}


@keyframes fadeIn {
  0% {opacity:0;}
  /* for delay */
  95% { opacity:0; }
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  95% { opacity:0; }
  100% {opacity:1;}
}


.reveal_animate2{
  animation: fadeIn linear 16s;
    -webkit-animation: fadeIn linear 16s;
    -moz-animation: fadeIn linear 16s;
    -o-animation: fadeIn linear 16s;
    -ms-animation: fadeIn linear 16s;
}




/* BUTTON FORMATTING */

#button-wrap {
  /* color: #312f30; */
  font-weight: bold;
  padding-left: 45px;
}

.player_button {
  background-color: black !important;
  border: 1px solid green;
  color: black !important;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.choice_button {
  background-color: black !important;
  border: 1px solid green;
  color: black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit_button{
  background-color: black !important;
  border: 1px solid green;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Courier";
  font-size: 18px;
  color: #39ff14;
  font-weight: bold;
}

.db_button{
  background-color: white;
  border: 2px solid green;
  color: black;
  font-weight: bold;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.active {
  display: block;
  background-color: black;
  color: black;
  cursor: pointer;
}

button:hover{
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  background-color: #8f8c8d;
  /* color: black; */
  cursor: pointer;
}

button.selected{
  background-color: rgba(0,0,0,0.18);
  color: red;
  cursor: pointer;

}
